<header>
    <div class="container">
      <h1>My Website</h1>
      <nav>
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/materi">Materi</a></li>
          <li><a href="/add-materi">Add-Materi</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>