<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <!-- Main Content -->
    <main>
        <div class="view-materi-container">
            
                <h1 id="judul-materi"><%= judul %></h1>
                <p><strong>Narasumber:</strong> <%= narsum %></p>
            <!-- Content -->
            <article class="view-materi-content">
                <p><%= isi %></p>
            </article>
            <!-- Footer -->
            <footer class="view-materi-footer">
                <a href="/">Kembali ke Daftar Materi</a>
            </footer>
        </div>
    </main>
</body>
</html>

